<div class="w-full">
  <form [formGroup]="formLogin"  class="flex flex-column px-4 md:px-10">
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input
        type="text"
        matInput
        formControlName="username"
      >
    </mat-form-field>


    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
      >
    </mat-form-field>

    <button
      mat-button
      mat-flat-button
      color="warn"
      (click)="onSubmit()"
      [disabled]="authService.isLoadingValue()"
    >
      <mat-icon>save</mat-icon>
      Ingresar
    </button>
  
    <div class="flex justify-content-end mt-5">
      <a
        class="enlace-register"
        routerLink="/auth/register">
        ¿No tienes cuenta? Create una
      </a>
    </div>
  </form>
</div>