.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ccc;
  color: black;
}

th,
td {
  padding: 10px;
  text-align: left;
}

input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilo para el botón primario */
.btn-primary {
  background-color: #007bff;
  /* Color de fondo del botón */
  color: #fff;
  /* Color del texto del botón */
  border: none;
  /* Sin borde */
  padding: 10px 20px;
  /* Relleno del botón */
  border-radius: 5px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Cambia el cursor al pasar el ratón sobre el botón */
  transition: background-color 0.3s;
  /* Transición suave del color de fondo */
}


/* Estilo para el botón primario al pasar el ratón por encima */
.btn-primary:hover {
  background-color: #0056b3;
  /* Cambia el color de fondo al pasar el ratón */
}
.space-white{
  flex:1;
}