<div class="container">
  <h1>Task</h1>
  <form [formGroup]="formTask">
    <input
      type="text"
      class="input-task"
      placeholder="Ingrese su tarea"
      formControlName="title"
      (keyup.enter)="addTask()" >

  </form>
  <div class="container-task">
    <div *ngFor="let task of tasks" class="task">
      <div class="task-title-and-text">
        <input type="checkbox" class="checkbox-input">
        <p class="task-title" >{{task.title}}</p>
      </div>
      <div class="task-control">
        <button class="btn" (click)="deleteTask(task?._id)">
          <span class="material-symbols-outlined">
            delete
          </span>
        </button>
        <button class="btn" (click)="editTask(task?._id)">
          <span class="material-symbols-outlined">
            edit
          </span>
        </button>
      </div>
    </div>
  </div>
</div>