.container{
  margin-top: 11px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.input-task{
  padding: 8px 16px;
  border-radius: 10px;
  outline: none;
}
.container-task{
  margin-top: 16px;
}
.task{
  display: flex;
  justify-content: space-between;
  padding: 9px;
  gap: 4px;
  min-width: 310px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}
.btn{
  padding: 2px;
  border: 0;
  border-radius: 10px;
  transition: opacity 0.2s ease-in;
  font-size: 0.2;
  &:hover{
    opacity: 0.7;
  }
}
.task-title-and-text{
  display: flex;
  gap: 4px;
}
.task-control{
  display: flex;
  gap: 3px;
}
.input-task-edit{
  border: 0;
  padding: 3px;
  border-radius: 10px;
}
