.container-bg-custom {
  background: linear-gradient(135deg, #3498db, #8e44ad);
  width: 100%;
  height: 100vh;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imagen-logo{
  width: auto;
  max-width: 144px;
  object-fit: cover;
  margin-bottom: 21px;
}
